.quiz-container
{
    display: flex;
}
.quiz
{
    width: 700px;
    margin: auto;
    margin-top: 10em;
    background: var(--colour-primary);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    text-align: center;
}
@media (max-width: 900px)
{
    .quiz
    {
        margin-top: 2em;
        padding: 30px 15px;
    }
}
.divider
{
    border: none;
    height: 2px;
    color: white;
    background-color: white;
    margin: 0;
}
.heading
{
    font-weight: bold;
}
p, h1, h2
{
    margin-bottom: 0;
}
span
{
    padding-bottom: 1px;
}
.progress-bar
{
    background-color: var(--colour-secondary);
}
.timer, .add-time-btn, .hint-btn, .prev-btn, .submit-btn, .next-btn, .start-btn, .another-btn
{
    background-color: var(--colour-secondary);
    width: 6.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1.3em;
    color: white;
}
.add-time-btn
{
    width: 2em;
}
.start-btn, .another-btn
{
    width: 20em;
}
.hint-btn, .prev-btn, .submit-btn, .next-btn
{
    padding: 0.3em 0.5em;
}
.add-time-btn, .hint-btn, .prev-btn, .submit-btn, .next-btn, .start-btn, .another-btn
{
    border-color: var(--colour-secondary);
}
.add-time-btn:hover, .hint-btn:hover, .prev-btn:hover, .submit-btn:hover, .next-btn:hover, .start-btn:hover, .another-btn:hover
{
    background-color: var(--colour-secondary);
    border-color: white;
}
.add-time-btn:active, .hint-btn:active, .prev-btn:active, .submit-btn:active, .next-btn:active, .start-btn:active, .another-btn:active
{
    background-color: var(--colour-secondary) !important;
}