*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root
{
    --colour-primary: #78BAA6;
    --colour-secondary: #BDDBD0;
    --colour-text: black;
}

body
{
    height: 100vh;
    background-color: var(--colour-secondary);
}
